exportPattern("^[[:alpha:]]+")
importFrom(MASS, mvrnorm)
importFrom(expm, sqrtm)
importFrom(psych, fa, factor.scores)
importFrom(CCP, p.asym)
importFrom(stats, cov, cor, qnorm, pnorm, qt, pt, optim, uniroot, lm, glm,
           quasibinomial, anova, coef, residuals, fitted, predict, na.omit,
           setNames, complete.cases)
importFrom(utils, head, tail)
